body {
    font-family: Arial;
    background: #f0f0f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.result {
    text-align: center;
    font-size: 18px;
    color: green;
    margin-top: 15px;
}